.container {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	padding: 14px 6px;
	flex-direction: column;
}

.pagetitle {
	padding: 25px 14px;
	margin: 0;
	background-color: #525252;
	color: #f5f5f5;
}

.newtodoform {
	border: 1px solid #525252;
	border-radius: 10px;
	padding: 8px 12px;
	margin: 0px auto 20px auto;
	box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
	/* max-width: 500px; */
	background-color: white;
}

.done {
	color: #525252;
	text-decoration: line-through;
}

.newtodoform h2 {
	margin-top: 0;
}

.newtodoform form {
	display: flex;
	justify-content: space-between;
}

.newtodoform input,
.newtodoform button {
	padding: 5px 12px;
	border-radius: 5px;
	border: 1px solid #525252;
}

.newtodoform div {
	flex-shrink: 0;
}

.newtodoform button {
	margin-left: 8px;
	background-color: #064e3b;
	color: #f5f5f5;
	border: none;
	cursor: pointer;
	padding: 7px 15px;
}

.todoitem {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	align-items: center;
}

.todoitem label,
.todoitem button {
	margin-left: 10px;
}

.todoitem input {
	accent-color: #064e3b;
}

.todoitem div {
	display: flex;
	align-items: center;
}

.todoitem .trash {
	background: none;
	border: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.categoryselect {
	padding: 5px 8px;
	border-radius: 5px;
	border: 1px solid #525252;
	margin-left: 8px;
}

.nodata {
	font-style: italic;
	color: #525252;
	padding: 20px;
}

@media only screen and (min-width: 768px) {
	.container {
		flex-direction: row;
		justify-content: space-around;
		padding: 25px 20px;
	}

	.newtodoform {
		padding: 15px 20px;
	}
}
